@charset "UTF-8";
/*common.css 모든페이지에 공통 적용*/

*{margin:0 auto;}/*가운데 정렬*/

/*모든 컨텐츠 포함하는 box*/
#wrap{
	width:1280px;
	background:#eee;
	text-align:center;
	position:relative;
}

/*모든<img>테두리 없음 내부여백*/
img {border:0;margin:0;}

#footerBox div{
	background:#777;
	border:solid 1px #999;
	margin-top:10px;
	padding:20px;
	margin:0;
}


#moveToTop:hover{
	opacity:0.7;
}